# Libraries

In [4]:
!pip install pymongo
!pip install boto3

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Collecting boto3
  Downloading boto3-1.26.158-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.9/135.9 kB 981.9 kB/s eta 0:00:0000:0100:01
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting botocore<1.30.0,>=1.29.158
  Downloading botocore-1.29.158-py3-none-any.whl (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 3.9 MB/s eta 0:00:0000:0100:01
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.1-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 899.9 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore<1.30.0,>=1.29.158->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore<1.30.0,>=1.29.158->boto3) (1.26.14)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.158->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.158 botocore-1.29.158 jmespath-1.0.1 s3transfer-0.6.1

In [32]:
import os
import numpy as np
import pandas as pd
from io import BytesIO
from pymongo import MongoClient
import boto3
from io import StringIO

# Helper functions

In [71]:
def save_df_at_minio(client, df, bucket_destination, file_path):
    
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)
    client.put_object(Body=csv_buffer.getvalue(), Bucket=bucket_destination, Key=file_path)

# Load data

In [6]:
df_path = "./arquivos/estados.json"
df = pd.read_json(df_path)
df.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

# Saving data at MinIO

In [8]:
client = boto3.client('s3', 
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='oFhhQYp82kgEJfa6',
    aws_secret_access_key='a17pIbkBn63FY4XWgWOtrsY7gjnRUMZR',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

In [28]:
unique_uf_list = df["uf"].unique().tolist()

In [47]:
for uf in unique_uf_list:
    
    # MinIO paths
    bucket_destination = "aula-06"
    file_path = os.path.join("data_per_state", uf, "cidades.csv")
    
    # Get data
    uf_df = df.query(f"uf == '{uf}'")
    
    _ = save_df_at_minio(client, uf_df, bucket_destination, file_path)

# Exporting data from MinIO to MongoDB

In [81]:
client_mongodb =  \
MongoClient("mongodb://root:rootpassword@awari-mongodb:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")

In [82]:
db = client_mongodb['states']

In [ ]:
# Add data
for uf in unique_uf_list:
    
    collection = db[f"{uf}"]
    
    obj_minio = client.get_object(Bucket='aula-06', Key=f"data_per_state/{uf}/cidades.csv").get("Body")
    df_minio = pd.read_csv(obj_minio)
    data_dict = df_minio.to_dict("records")
    collection.insert_many(data_dict)

In [79]:
# Create collections at MongoDB
for uf in unique_uf_list:
    _ = db[f"{uf}"]