# Libraries

In [32]:
import os
import numpy as np
import pandas as pd
from io import BytesIO
from pymongo import MongoClient
import boto3
from io import StringIO

# Helper functions

In [71]:
def save_df_at_minio(client, df, bucket_destination, file_path):
    
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)
    client.put_object(Body=csv_buffer.getvalue(), Bucket=bucket_destination, Key=file_path)

# Load data

In [6]:
df_path = "./arquivos/estados.json"
df = pd.read_json(df_path)
df.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

# Saving data at MinIO

In [8]:
client = boto3.client('s3', 
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='oFhhQYp82kgEJfa6',
    aws_secret_access_key='a17pIbkBn63FY4XWgWOtrsY7gjnRUMZR',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

In [28]:
unique_uf_list = df["uf"].unique().tolist()

In [47]:
for uf in unique_uf_list:
    
    # MinIO paths
    bucket_destination = "aula-06"
    file_path = os.path.join("data_per_state", uf, "cidades.csv")
    
    # Get data
    uf_df = df.query(f"uf == '{uf}'")
    
    _ = save_df_at_minio(client, uf_df, bucket_destination, file_path)

# Exporting data from MinIO to MongoDB

In [81]:
client_mongodb =  \
MongoClient("mongodb://root:rootpassword@awari-mongodb:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")

In [82]:
db = client_mongodb['states']

In [83]:
for uf in unique_uf_list:
    
    collection = db[f"{uf}"]
    
    obj_minio = client.get_object(Bucket='aula-06', Key=f"data_per_state/{uf}/cidades.csv").get("Body")
    df_minio = pd.read_csv(obj_minio)
    data_dict = df_minio.to_dict("records")
    collection.insert_many(data_dict)